#!/bin/bash

# ---  Home Assistant Configuration ---
export HA_HOST='homeassistant.local'
export HA_PORT='8123'
export HA_TOKEN='XXXXX'

# --- InfluxDB Configuration ---
export INFLUXDB_PORT=8086
export INFLUXDB_DB='home_assistant'
export INFLUXDB_USER='homeassitant'
export INFLUXDB_PASSWORD='XXXXX'